In [12]:
import pandas as pd
data = [ 1500, 600, 500, 1800]
labels = ["Nout", 'Monit','Printer','Clav']
df = pd.Series(data=data, index = labels)
print(df['Printer'])

500

In [14]:
data = {
    'Name':['Egor', 'Mario','Nika' ],
    'Age': [40, 44, 30]

}
df= pd.DataFrame(data)
df

    Name  Age
0   Egor   40
1  Mario   44
2   Nika   30