In [1]:
import random
int=[]
for i in range(10):
    int.append(random.randint(0,1000))

In [2]:
int

[551, 897, 521, 958, 912, 137, 989, 763, 59, 45]

In [3]:
sort_int=sorted(int, reverse=True)
sort_int[1]

958

In [13]:
def palindrom(n):

    n_list=list(str(n))
    n_reverse=n_list[::-1]
    if n_list==n_reverse:
        return True
    else:
        return False

try:
    print(palindrom(1212))
except:
    print('a')

False

In [19]:
def palindrom(n):

    n_list=list(str(n))
    len_n = len(n_list)
    l = 0
    r = len_n - 1
    while l<r:
        
        if n_list[l]!=n_list[r]:
            return False
        
        l+=1
        r-=1
    return True
        

try:
    print(palindrom(1211))
except:
    print('a')

False

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame({'user': [1,2,2,3,1,1,2,2,3,3], 'item': [1,1,2,2,3,1,3,1,1,2]})

In [24]:
df['item'].value_counts().idxmax()

1

In [48]:
import pandas as pd

df = pd.DataFrame({
    'order_id': [101, 102, 103, 104],
    'customer': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'total': [250, 100, 300, 150]
}, index=[10, 20, 30, 40])

In [49]:
df.iloc[2] #index

order_id        103
customer    Charlie
total           300
Name: 30, dtype: object

In [50]:
df.loc[30]  #index in a table

order_id        103
customer    Charlie
total           300
Name: 30, dtype: object

In [41]:
df = df.drop(df.index[1])

In [43]:
df = df.drop(30)

In [44]:
df

    order_id customer  total
10       101    Alice    250
40       104    Diana    150

In [47]:
def count_letters(lst):
    first = lst[0]
    count=1
    result=[first]
    for letter in lst:
        if letter==first:
            count+=1
        else:
            result.append(count)
            count=1
            first=letter
            result.append(first)
    result.append(count)
    return ''.join(str(item) for item in result)
print(count_letters('AAAAAAААААА'))

A7А5